<% layout('layouts/boilerplate.ejs') %>
    <!-- <h1>Login</h1>
    <form action="/login" method="POST" class="needs-validation" novalidate autocomplete="off">
        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" id="username" name="username" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <button class="btn btn-success">Login</button>
    </form> -->

    <div class="container d-flex justify-content-center align-items-center my-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img class="card-img-top"
                        src="https://res.cloudinary.com/dzhjt6fqa/image/upload/v1631398841/gabin-vallet-YxCrQm9XNgg-unsplash_tgdcfo.jpg"
                        alt="">
                    <div class="card-body">
                        <h5 class="card-title">Login</h5>
                        <form action="/login" method="POST" class="needs-validation" novalidate autocomplete="off">
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input autofocus class="form-control" type="text" id="username" name="username"
                                    required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <button class="btn btn-success">Login</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src='js/checkReview.js'> </script>