<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Parks</title>
</head>

<body>
    <h1>All Parks</h1>
    <div>
        <h4><a href="/parks/new">Submit a park</a></h4>
    </div>
    <ul>
        <% for(let park of parks){ %>
            <li><a href="/parks/<%= park._id %> ">
                    <%= park.title %>
                </a>
            </li>
            <% } %>
    </ul>
</body>

</html>